@model Ekopay_Reports.Models.View.CustomerFilter
@using ReportViewerForMvc;
@{
    ViewBag.Title = "Index";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="container" id="reportsContainer">
    <h1>Reports | <span style="color:darkgreen;font-size:30px">Report List Customer</span></h1>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <div class="col-md-3">
            <label class="control-label">Onboarding Date</label>
            @Html.EditorFor(model => model.OnBoardingDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OnBoardingDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            @Html.LabelFor(model => model.BranchCode, "Branch Code", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.BranchCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BranchCode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-3">
            @Html.LabelFor(model => model.CustomerType, "Customer Type", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.CustomerType, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CustomerType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-3">
            @Html.LabelFor(model => model.CIFSupplier, "CIF SUpplier", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.CIFSupplier, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CIFSupplier, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-3">
            @Html.LabelFor(model => model.NameOfSupplier, "Supplier Name", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.NameOfSupplier, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NameOfSupplier, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-3">
            @Html.LabelFor(model => model.CIFBuyer, "CIF Buyer", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.CIFBuyer, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CIFBuyer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-3">
            @Html.LabelFor(model => model.IDBuyer, "Buyer's ID", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.IDBuyer, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IDBuyer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-3">
            @Html.LabelFor(model => model.NameOfBuyer, "Buyer Name", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.NameOfBuyer, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NameOfBuyer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-3">
            @Html.LabelFor(model => model.BusinessRegNo, "Business Reg. No.", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.BusinessRegNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BusinessRegNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-3">
            @Html.LabelFor(model => model.TaxCode, "Tax Code", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.TaxCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TaxCode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-3">
            @Html.LabelFor(model => model.Status, "Status", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3" style="padding-top:2%">
            <input type="submit" value="Filter" class="btn btn-success report-button" />
            <input type="submit" value="Clear" class="btn btn-primary report-button" />
        </div>

    </div>
    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { @style = "margin-top:1%;width:100%" })
</div>
}


